/*Layout custom Css */
@font-face {
	font-family: 'Knowledge-Regular';
	src: url('../fonts/Knowledge-Regular.eot');
	src: local('☺'), url('../fonts/Knowledge-Regular.woff') format('woff'), url('../fonts/Knowledge-Regular.ttf') format('truetype'), url('../fonts/Knowledge-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Medium';
	src: url('../fonts/Knowledge-Medium.eot');
	src: local('☺'), url('../fonts/Knowledge-Medium.woff') format('woff'), url('../fonts/Knowledge-Medium.ttf') format('truetype'), url('../fonts/Knowledge-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Light';
	src: url('../fonts/Knowledge-Light.eot');
	src: local('☺'), url('../fonts/Knowledge-Light.woff') format('woff'), url('../fonts/Knowledge-Light.ttf') format('truetype'), url('../fonts/Knowledge-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Bold';
	src: url('../fonts/Knowledge-Bold.eot');
	src: local('☺'), url('../fonts/Knowledge-Bold.woff') format('woff'), url('../fonts/Knowledge-Bold.ttf') format('truetype'), url('../fonts/Knowledge-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {overflow-x:hidden; height: 100%; }
body { min-width: 445px; font-family: 'Knowledge-Light';}
a, button { cursor: pointer; outline: 0px !important; text-decoration: none}
strong {font-family: 'Knowledge-Medium'; font-weight: 400;}
img {max-width: 100%;}
h2 {font-family: 'Knowledge-Regular';}

.container {
	max-width: 1600px;
}
.main-menu {
	position: relative;
	z-index: 9;
}
.site-nav {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
	.row {
		min-height: 100px;
	}
	.logo {
		max-width: 255px;
	}
	&.hover-state {
		background-color: $white;
		ul li a {
			color: $black !important;
		}
	}
}
.site-header {
	background: url("../images/home-img.jpg") center center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	h3 {
		color: $white;
		font-size: 30pt;
		font-family: 'Knowledge-Bold';
	}
	.head-title {
		position: relative;
		&:hover {
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0+0,0.7+50,0+100 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		}
		&:before {
			content: "";
			position: absolute;
			width: 1px;
			height: 70%;
			left: -1px;
			top: 18%;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0+0,0.5+51,0+100 */
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.49) 50%, rgba(255,255,255,0.5) 51%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.49) 50%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.49) 50%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
		}
		&:first-child:before {
			display: none;
		}
	}
}
.site-menu {
	    ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline;
		li {
			display: inline-block;
			margin: 0 15px;
			padding: 35px 0px;
			color: $white;
			a {
				color: $white !important;
				font-size:13pt;
			}
			&:hover a {
				color: $orange !important;
			}
			&:hover .site-header   {
				background-color:$white; 
			}
			&:hover .sub-menu {
				display: block;
			}
		}
	}
	ul ul {
		list-style:none;
		margin:0;
		padding: 0; 
		li {
			display: inline-block;
			color: $white;
			margin: 0 10px;
			padding: 0;
			a {
				display: block;
				color: $white !important;
				border:1px solid $white;
				padding:5px 15px;
				font-size: 12pt;
				&:hover {
					background-color: $black;
				}
			}
		}
	}
}

.btn-primary {
	background-color: $orange !important;
	border-color: $orange !important;
	border-radius: 0px;
	font-size: 12pt;
	padding: 10px 25px;
}
.sub-menu {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top:99px;
	z-index: 8;
	background: rgba(0,0,0,0.6);
	padding: 30px 0px;

}
.hover-state .logo-1, .logo-2 {
	display: none;
}
.hover-state .logo-2 {
	display: block;
}
.page-down {
	position: absolute;
	width: 100%;
	left: 0;
	bottom:20px;
	z-index: 2;
	text-align: center;
	button {
		width:35px;
		height: 35px;
		background: url("../images/icon-page-down.png") 0 0 no-repeat;
		background-size: 100%;
		border:none;
	}
}
.vh {
	height: 100vh;
}







@include breakpoint(mobile) {

}



