/*Layout custom Css */
@font-face {
	font-family: 'Knowledge-Regular';
	src: url('../fonts/Knowledge-Regular.eot');
	src: local('☺'), url('../fonts/Knowledge-Regular.woff') format('woff'), url('../fonts/Knowledge-Regular.ttf') format('truetype'), url('../fonts/Knowledge-Regular.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Medium';
	src: url('../fonts/Knowledge-Medium.eot');
	src: local('☺'), url('../fonts/Knowledge-Medium.woff') format('woff'), url('../fonts/Knowledge-Medium.ttf') format('truetype'), url('../fonts/Knowledge-Medium.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Light';
	src: url('../fonts/Knowledge-Light.eot');
	src: local('☺'), url('../fonts/Knowledge-Light.woff') format('woff'), url('../fonts/Knowledge-Light.ttf') format('truetype'), url('../fonts/Knowledge-Light.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Bold';
	src: url('../fonts/Knowledge-Bold.eot');
	src: local('☺'), url('../fonts/Knowledge-Bold.woff') format('woff'), url('../fonts/Knowledge-Bold.ttf') format('truetype'), url('../fonts/Knowledge-Bold.svg') format('svg');
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Black';
	src: url('../fonts/Knowledge-Black.eot');
	src: local('☺'), url('../fonts/Knowledge-Black.woff') format('woff'), url('../fonts/Knowledge-Black.ttf') format('truetype'), url('../fonts/Knowledge-Black.svg') format('svg');
	font-style: normal;
}


html, body { height: 100%; }
body { min-width: 445px; font-family: 'Knowledge-Light'; font-size: 16px; color: $black; overflow-x:hidden;}
a, button { cursor: pointer; outline: 0px !important; text-decoration: none}
strong {font-family: 'Knowledge-Medium'; font-weight: 400;}
img {max-width: 100%;}
h1,h2 {font-family: 'Knowledge-Black'; font-weight: normal}
h3,h4 {font-family: 'Knowledge-bold'; font-weight: normal}

.container {
	max-width: 1600px;
}

@media (min-width: 1400px) {
	.row {
		margin-right: -20px;
		margin-left: -20px;
	}
	.container, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
		padding-right: 20px;
		padding-left: 20px;
	}
}
.mt {
	margin-top: 40px;
	@include breakpoint(mddesktop) {
		margin-top: 30px;
	}
}
.mb {
	margin-bottom: 40px;
	@include breakpoint(mddesktop) {
		margin-top: 30px;
	}
}
.space-x {
	padding-left: 50px;
	padding-right: 50px;
	@include breakpoint(mddesktop) {
		padding-left: 30px;
		padding-right: 30px;
	}
}
.main-menu {
	position: relative;
	z-index: 9;
	.btn-primary {
		font-size: 16px;
		padding: 10px 25px;
	}
}
.app-nav {
	.row {
		min-height: 100px;
	}
	.logo {
		max-width: 255px;
		@include breakpoint(smdesktop) {
			max-width: 230px;
		}
	}
}
.position-relative {
	.app-nav {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9;
	}
}
.app-nav.hover-state {
	background-color: $white;
	ul.app-menu-list li a {
		color: $black !important;
	}
	ul.app-menu-list li:hover a {
		color: $orange !important;
	}
	ul.app-menu-list li:hover li a {
		color: $white !important;
	}
	ul.app-menu-list li.has-subMenu a {
		background: url("../images/arrow-down-black.png") right center no-repeat;
		background-size: 15px;
		padding-right: 22px;
	}
	ul.app-menu-list li.has-subMenu:hover a {
		background: url("../images/arrow-down-orange.png") right center no-repeat;
		background-size: 15px;
	}
	ul.sub-menu-list li a {
		color: $white !important;
	}
}

ul.app-menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
	li {
		display: inline-block;
		margin: 0 15px;
		@include breakpoint(mddesktop) {
			margin: 0 10px;
		}
		padding: 38px 0px;
		color: $white;
		a {
			color: $white !important;
			font-size:16px;
			font-family: 'Knowledge-Regular';
			display: block;
		}
		&:hover a {
			color: $orange !important;
		}
		&:hover .app-header   {
			background-color: $white; 
		}
		&:hover .sub-menu {
			visibility: visible;
			opacity: 1;
		}
	}
	li.has-subMenu > {
		 a {
			background: url("../images/arrow-down-white.png") right center no-repeat;
			background-size: 15px;
			padding-right: 22px;
		}
	}
}

ul.sub-menu-list {
	list-style:none;
	margin:0;
	padding: 0; 
	li {
		display: inline-block;
		color: $white;
		margin: 0 10px;
		padding: 0;
		a {
			display: block;
			color: $white !important;
			border:1px solid $white;
			padding:5px 15px !important;
			font-size: 12pt;
			text-align: center;
			background: none !important;
		}
	}
}
.btn-mobileMenu {
	width: 30px;
	height:30px;
	margin-left: auto;
	display: flex;
	border:0;
	padding: 0;
	background-color: transparent;
	span {
		height:3px;
		background-color: $white;
		display: block;
		&:nth-child(2) {
			margin: 8px 10px 8px 0px;
		}
	}
}

.app-header {
	position: relative;
	background-size: cover !important;
	@include breakpoint(desktop) {
		background-size: cover !important;
	}
	width: 100%;
	h3 {
		color: $white;
		font-size: 46px;
		line-height: 48px;
		margin:0 20px;
		font-family: 'Knowledge-Black';
		br {
			display: none;
			@include breakpoint(mddesktop) {
				display: block;
			}
		}
		@include breakpoint(lgdesktop) {
			font-size: 36px;
		}
		@include breakpoint(mddesktop) {
			font-size: 45px;
			line-height: 46px;
		}
		@include breakpoint(mobile) {
			font-size: 75px;
		}

	}
	.head-title {
		position: relative;
		text-align: center;
		&:hover {
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%); 
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%); 
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 );
		}
		&:nth-child(2):before {
			content: "";
			position: absolute;
			width: 1px;
			height: 70%;
			left: -0.5px;
			top: 18%;
			z-index: 2;
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.49) 50%, rgba(255,255,255,0.5) 51%, rgba(255,255,255,0) 100%);
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.49) 50%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.49) 50%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
		}
		&:nth-child(2):after {
			content: "";
			position: absolute;
			width: 1px;
			height: 70%;
			right:0;
			top: 18%;
			z-index: 2;
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.49) 50%, rgba(255,255,255,0.5) 51%, rgba(255,255,255,0) 100%);
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.49) 50%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.49) 50%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
		}
		@include breakpoint(mobile) {
			display: none !important;
		}
	}
	.faded-text {
		margin: 0;
		background: url("../images/faded-text.png") 50px center no-repeat;
		background-size: calc(100% - 100px) auto;
		@include breakpoint(mobile) {
			background: none;
		}
	}
}
.head-title-mob {
	padding-bottom: 100px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+1,000000+100&0+0,0.4+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */

	h3 {
		@include breakpoint(mobile) {
			width: 100%;
			font-size: 75px;
			line-height: 80px;
		}
	}
}
.btn-primary {
	background-color: $orange !important;
	border-color: $orange !important;
	border-radius: 0px;
	font-size: 19px;
	padding: 16px 25px;
}
.sub-menu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 100%;
	left: 0;
	top:100px;
	z-index: 8;
	background: rgba(0,0,0,0.6);
	padding: 30px 0px;
	transition: all 0.4s ease-in-out;
}
.hover-state .logo-1, .logo-2 {
	display: none;
}
.hover-state .logo-2 {
	display: block;
}
.page-down {
	position: absolute;
	width: 100%;
	left: 0;
	bottom:30px;
	z-index: 2;
	text-align: center;
	.button {
		width:47px;
		height: 47px;
		background: url("../images/icon-page-down.png") 0 0 no-repeat;
		background-size: 100%;
		border:none;
		display: inline-block;
	}
}
.vh {
	height: 100vh;
}
/******************* End ***********************/

/******************* Home sections start *******/
.about-short {
	padding: 80px 0px 90px 0px;
	@include breakpoint(mobile) {
		padding: 50px 0px;
	}
	background: $light-gray;
	p {
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 35px;
		@include breakpoint(desktop) {
			font-size: 20px;
		}
		@include breakpoint(mobile) {
			font-size: 27px;
		}
		@include breakpoint(smdesktop) {
			br {
				display:none;
			}
		}
	}
	h2 {
		font-size: 50px;
		margin: 0px 0 10px 0;
		@include breakpoint(mddesktop) {
			font-size: 45px;
		}
		@include breakpoint(mobile) {
			display: none;
		}
	}

}
.feature-post {
	border-bottom:1px solid #999999;
	@include breakpoint(tablet) {
		border: 0;
	}
	h3 {
		font-size: 35px;
		line-height: 38px;
		color:$black;
		margin-bottom: 15px;
		@include breakpoint(desktop) {
			font-size: 31px;
		}
		br {
			@include breakpoint(desktop) {
				display: none;
			}
		}
	}
	p {
		font-size: 23px;
		line-height: 30px;
		margin-bottom: 1.5rem;
	}
	.btn {
		color: $orange;
		font-family: 'Knowledge-Medium';
		background: url("../images/arrow-right-org.png") right center no-repeat;
		background-size: 15px;
		padding: 0 20px 0 0px;
		font-size: 17px;
	}
	img {
		max-width: auto;
		width: 100%;
		height: 100%;
		max-height:340px;
		object-fit: cover;
	}

.content {
	padding: 40px 0px 30px 0px;
	@include breakpoint(mobile) {
		padding-bottom: 0;
	}
	@include breakpoint(mobile) {
		padding-top: 20px;
	}
}
	@include breakpoint(mobile) {
	.date-time {
		strong {
		display: none;
	}

	}

	}
}
.img img {
	width: 100%;
}
.extra-content {
	font-size: 17px;
}
.text-white {
	.time {
		background: url("../images/icon-time-white.png") 0 center no-repeat;
		background-size: 16px;
		@include breakpoint(mobile) {
			background: url("../images/icon-time.png") 0 center no-repeat;
			background-size: 16px;
		}
	}
}
.time {
	background: url("../images/icon-time.png") 0 center no-repeat;
	background-size: 18px;
	display: inline-block;
	padding-left: 26px;
}
.testimonial-title {
	position: relative;
	height:100%;
	@include breakpoint(mobile) {
		height: auto;
	}
	.img {
		min-height:550px;
		height: 100%;
		background-size: cover;
		@include breakpoint(mobile) {
			min-height:380px;
		}
	}
	.content {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		padding: 30px;
		color: $white;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(168, 64, 64, 0.185) 45%, rgba(0,0,0,0.9) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 45%,rgba(0,0,0,0.9) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 45%,rgba(0,0,0,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 );
		@include breakpoint(mobile) {
			position: static;
			bottom: inherit;
			left: inherit;
			right: inherit;
			background:transparent;
			color: $black !important;
			padding:15px 30px;
		}
	}
	h2 {
		max-width: 690px;
		font-family: 'Knowledge-Bold';
		font-size: 47px;
		line-height: 50px;
		@include breakpoint(desktop) {
			font-size: 37px;
		}
		@include breakpoint(mobile) {
			font-size: 31px;
			line-height: 38px;
		}
	}
}
.testimonial-description {
	height:100%;
	border:1px solid #999999;
	padding:35px 30px 30px 30px;
	@include breakpoint(desktop) {
		padding: 20px;
	}
	@include breakpoint(mobile) {
		margin: -15px -15px 0 -15px;
		height: auto;
		padding:35px 15px 35px 15px;
	}
	h3 {
		color: $orange;
		font-size: 18px;
		margin-bottom: 30px;
	}
	.content {
		background: url("../images/comma.png") 0 0 no-repeat;
		background-size: 22px;
		padding-top: 40px;
		min-height: 315px;
		@include breakpoint(smdesktop) {
			min-height: inherit;
		}
	}
	p {
		font-size: 22.5px;
		line-height: 42px;
		font-style: italic;
		@include breakpoint(smdesktop) {
			min-height:inherit;
			br {display: none;}
		}
	}
.person {
		padding-top: 33px;
		img {
			max-width: 80px;
			margin-right: 15px;
		}
		h4 {
			font-size: 18px;
			line-height: 20px;
			span {
				font-family: 'Knowledge-Regular';
			}
		}
		@include breakpoint(mobile) {
			justify-content: end;
		}
	}
}
.article {
	height: 100%;
	display:block;
	border:1px solid #999999;
	position: relative;
	.img {
		margin:-1px -1px 0px -1px;
	}
	small {
		color: $orange;
		font-family: 'Knowledge-Bold';
		font-size: 15.5px;
	}
	h4 {
		font-size: 28px;
		margin:10px 0  20px 0px;
		min-height: 100px;
		@include breakpoint(desktop) {
			min-height: inherit;
			font-size: 26px;
		}
		@include breakpoint(mobile) {
			font-size: 31px;
		}
	}
	.content {
		padding: 35px 30px 60px 30px;
		@include breakpoint(mobile) {
			border:0;
			padding: 30px 0px 0px 0px;
		}
	}
	.extra-content {
		padding: 0 15px 30px 15px;
		margin:0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
}

/******************* End *******/

/******************* Footer start *******/
.app-footer {
	padding-top: 48px;
	.container {
		max-width: 1400px;
		padding-left: 80px;
		@include breakpoint(desktop) {
			padding-left: 50px;
		}
		@include breakpoint(mobile) {
			padding: 0;
		}
	}
	margin-top: 40px;
	background-color: $light-gray;
	color: $white;
	h6 {
		font-size: 13.5px;
		margin-bottom: 25px;
		font-family: 'Knowledge-Bold';
		@include breakpoint(mobile) {
			padding:25px 30px 25px 25px;
			margin: 0;
			background: url("../images/footer-nav-arrow.png") right center no-repeat;
			background-size:auto 9px;
			border-top: 1px solid #717171;
			border-left:5px solid transparent;
			cursor: pointer;
		}
	}
	ul.footer-nav {
		list-style: none;
		margin: 0 0 45px 0px;
		padding: 0;
		@include breakpoint(mobile) {
			margin-bottom: 0px;
		}
		li {
			margin: 0 0 10px 0px;
			padding: 0;	
		}
		a {
			color: $white;
			font-size: 14px;
			font-family: 'Knowledge-Regular';
		}
		@include breakpoint(mobile) {
			display: none;
		}
	}
	@include breakpoint(mobile) {
		background-color: #4d4d4d;
		.show {
			ul.footer-nav {
				display: block;
				border-top: 1px solid #717171;
				padding-left: 60px;
				li {
					margin: 0;					
					border-top: 1px solid #717171;
					&:first-child {
						border: 0;
					}
				}
				a {
					padding: 15px 0;
					display: block;
				}
			}
			h6 {
				border-left:5px solid $orange;
				background: url("../images/footer-nav-arrow-down.png") right center no-repeat;
				background-size:auto 9px;
			}
		}
	}
		
}
.copyright {
	background-color: $dark-gray;
	padding: 20px 0px;
}
.footer-logo {
	img {
		max-width: 220px;
		@include breakpoint(tablet) {
			max-width: 180px;
		}
	}
	@include breakpoint(mobile) {
		background: url("../images/footer-nav-arrow-org.png") right center no-repeat;
		background-size:auto 9px;
		&.active {
			background: url("../images/footer-nav-arrow-org-2.png") right center no-repeat;
			background-size:auto 9px;
		}
	}
}
.policy-links {
	text-align: right;
	a {
		margin-left: 20px;
		font-size: 14px;
		color: #cecece !important;
		@include breakpoint(mobile) {
			display: block;
			padding: 15px 0;
			margin-left: 30px;
			margin-right: -30px;
			border-top: 1px solid #717171;
			font-family: 'Knowledge-Regular';
			&:first-child {
				margin-top: 15px;
			}
		}
		&:last-child {
			padding-bottom: 2px;
		}
	}
	@include breakpoint(mobile) {
		display: none;
		text-align: left;
		&.show {
			display: block;
		}
	}
}

@include breakpoint(mobile) {
	.feature-post .img, .testimonial-title, .articles .img {margin-left:-30px; margin-right:-30px;}
}

/****************** mobile menu *************/

.offCanvas-nav {
	position: fixed;
	left:100%;
	top: 0;
	bottom: 0;
	z-index: 9999;
	background-color: #4d4d4d;
	width: 380px;
	transition: all 1s ease-in-out;
	.nav-items {
		height: calc(100vh - 210px);
		padding-bottom: 200px;
		overflow: scroll;
	}
	.copyrights {
		font-size: 12px;
		color: $white;
		padding:30px;
		font-family: 'Knowledge-Light';
		
		align-items: flex-end;
	}
	.level-0 {
		padding: 0;
		margin: 0;
		list-style: none;
	a {
		border-bottom: 1px solid #717171;
		padding: 25px 30px;
		display: block;
		color: #ebebeb;
		font-size:17px;
		font-family: 'Knowledge-Medium';
		&:hover {
			color: $white;
		}
	}	
	.has-subMenu a {		
		background:#4d4d4d url("../images/arrow-down-w.png") 330px center no-repeat;
		background-size:auto 11px;
		&:hover, &.active {
			// background:#ff9300 url("../images/arrow-left-w.png") 330px center no-repeat;
			background:#ff9300 url("../images/arrow-down-w.png") 330px center no-repeat;
			background-size:auto 11px;
			color: $white;
		}
	 }
	}
	.level-1 {
		display: none;
		padding: 0 0 0 50px;
		margin: 0;
		list-style: none;
	a {
		padding: 25px 0px;
		&:hover {
			background:transparent !important;
		}
	 }	
	 &.show {
		 display: block;
	 }
	}
}
.nav-head{
	width: 100%;
	color: $orange;
	padding: 35px 25px 35px 30px;
	background-color: #363636;
	font-family: 'Knowledge-Bold';
	font-size: 20px;
	button {
		width: 40px;
		height: 30px;
		padding: 0;
		border: 0;
		background-color: transparent;
		background: url("../images/mobile-nav-icon.png") center center no-repeat;
		background-size: 20px;
	}
}
.app-wrapper {
	transition: all 1s ease-in-out;
}
.translate-x {
	overflow: hidden !important;
	.app-wrapper {
		transform: translateX(-380px);
		transition: all 1s ease-in-out;
	}
} 


