/*Layout custom Css */
@font-face {
	font-family: 'Knowledge-Regular';
	src: url('../fonts/Knowledge-Regular.eot');
	src: local('☺'), url('../fonts/Knowledge-Regular.woff') format('woff'), url('../fonts/Knowledge-Regular.ttf') format('truetype'), url('../fonts/Knowledge-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Medium';
	src: url('../fonts/Knowledge-Medium.eot');
	src: local('☺'), url('../fonts/Knowledge-Medium.woff') format('woff'), url('../fonts/Knowledge-Medium.ttf') format('truetype'), url('../fonts/Knowledge-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Light';
	src: url('../fonts/Knowledge-Light.eot');
	src: local('☺'), url('../fonts/Knowledge-Light.woff') format('woff'), url('../fonts/Knowledge-Light.ttf') format('truetype'), url('../fonts/Knowledge-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Knowledge-Bold';
	src: url('../fonts/Knowledge-Bold.eot');
	src: local('☺'), url('../fonts/Knowledge-Bold.woff') format('woff'), url('../fonts/Knowledge-Bold.ttf') format('truetype'), url('../fonts/Knowledge-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {overflow-x:hidden; height: 100%; }
body { min-width: 445px; font-family: 'Knowledge-Light'; font-size: 14pt}
a, button { cursor: pointer; outline: 0px !important; text-decoration: none}
strong {font-family: 'Knowledge-Medium'; font-weight: 400;}
img {max-width: 100%;}
h1,h2,h3,h4 {font-family: 'Knowledge-bold';}

.container {
	max-width: 1600px;
}
.main-menu {
	position: relative;
	z-index: 9;
}
.app-nav {
	.row {
		min-height: 100px;
	}
	.logo {
		max-width: 255px;
	}
}
.position-relative {
	.app-nav {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9;
	}
}
.app-nav.hover-state {
	background-color: $white;
	ul.app-menu-list li a {
		color: $black !important;
	}
	ul.app-menu-list li:hover a {
		color: $orange !important;
	}
	ul.app-menu-list li:hover li a {
		color: $white !important;
	}
	ul.app-menu-list li.has-subMenu a {
		background: url("../images/arrow-down-black.png") right center no-repeat;
		background-size: 15px;
		padding-right: 22px;
	}
	ul.app-menu-list li.has-subMenu:hover a {
		background: url("../images/arrow-down-orange.png") right center no-repeat;
		background-size: 15px;
	}
	ul.sub-menu-list li a {
		color: $white !important;
	}
}

ul.app-menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
	li {
		display: inline-block;
		margin: 0 15px;
		padding: 35px 0px;
		color: $white;
		a {
			color: $white !important;
			font-size:13pt;
			display: block;
		}
		&:hover a {
			color: $orange !important;
		}
		&:hover .app-header   {
			background-color:$white; 
		}
		&:hover .sub-menu {
			display: block;
		}
	}
	li.has-subMenu {
		a {
			background: url("../images/arrow-down-white.png") right center no-repeat;
			background-size: 15px;
			padding-right: 22px;
		}
	}
}

ul.sub-menu-list {
	list-style:none;
	margin:0;
	padding: 0; 
	li {
		display: inline-block;
		color: $white;
		margin: 0 10px;
		padding: 0;
		a {
			display: block;
			color: $white !important;
			border:1px solid $white;
			padding:5px 15px;
			font-size: 12pt;
			text-align: center;
			background: none !important;
		}
	}
}

.app-header {
	position: relative;
	background: url("../images/home-img.jpg") center center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	h3 {
		color: $white;
		font-size: 30pt;
	}
	.head-title {
		position: relative;
		&:hover {
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0+0,0.7+50,0+100 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		}
		&:before {
			content: "";
			position: absolute;
			width: 1px;
			height: 70%;
			left: -1px;
			top: 18%;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0+0,0.5+51,0+100 */
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.49) 50%, rgba(255,255,255,0.5) 51%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.49) 50%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.49) 50%,rgba(255,255,255,0.5) 51%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
		}
		&:first-child:before {
			display: none;
		}
	}
}
.btn-primary {
	background-color: $orange !important;
	border-color: $orange !important;
	border-radius: 0px;
	font-size: 12pt;
	padding: 10px 25px;
}
.sub-menu {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top:99px;
	z-index: 8;
	background: rgba(0,0,0,0.6);
	padding: 30px 0px;

}
.hover-state .logo-1, .logo-2 {
	display: none;
}
.hover-state .logo-2 {
	display: block;
}
.page-down {
	position: absolute;
	width: 100%;
	left: 0;
	bottom:20px;
	z-index: 2;
	text-align: center;
	button {
		width:35px;
		height: 35px;
		background: url("../images/icon-page-down.png") 0 0 no-repeat;
		background-size: 100%;
		border:none;
	}
}
.vh {
	height: 100vh;
}
/******************* End ***********************/

/******************* Home sections start *******/
.about-short {
	background: $light-gray;
	p {
		font-size: 16pt;
	}
}
.feature-post {
	border-bottom:1px solid #252525;
	.btn {
		color: $orange;
		font-family: 'Knowledge-Medium';
		background: url("../images/arrow-right-org.png") right center no-repeat;
		background-size: 15px;
		padding: 0 20px 0 0px;
	}
}
.extra-content {
	font-size: 12pt;
}
.text-white {
	.time {
		background: url("../images/icon-time-white.png") 0 center no-repeat;
		background-size: 16px;
	}
}
.time {
	background: url("../images/icon-time.png") 0 center no-repeat;
	background-size: 16px;
	display: inline-block;
	padding-left: 20px;
}
.testimonial-title {
	position: relative;
	min-height:400px;
	height:100%;
	.content {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		padding: 30px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+45,0.9+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 45%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 45%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 45%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */
	}
	h2 {
		font-family: 'Knowledge-Bold';
	}
}
.mt {
	margin-top: 30px;
}
.mb {
	margin-bottom: 30px;
}
.testimonial-description {
	min-height:400px;
	border:1px solid #252525;
	padding: 30px;
	h3 {
		color: $orange;
		font-size: 14pt;
	}
	p {
		font-size: 18pt;
		line-height: 35px;
		font-style: italic;
		background: url("../images/comma.png") 0 0 no-repeat;
		background-size: 15px;
		padding-top: 30px;
	}

	.person {
		img {
			max-width: 80px;
			margin-right: 15px;
		}
		h4 {
			font-size: 13pt;
			line-height: 20px;
			span {
				font-family: 'Knowledge-Regular';
			}
		}
	}
}
.article {
	min-height:300px;
	border:1px solid #555555;
	display:block;
	small {
		color: $orange;
		font-family: 'Knowledge-Bold';
	}
	h4 {
		font-size: 23px;
	}
}
/******************* End *******/

/******************* Footer start *******/
.app-footer {
	margin-top: 40px;
	background-color: $light-gray;
	color: $white;
	h6 {
		font-style: 13pt;
		margin-bottom: 25px;
		font-family: 'Knowledge-Bold';
	}
	ul.footer-nav {
		list-style: none;
		margin: 0 0 30px 0px;
		padding: 0;
		li {
			margin: 0 0 10px 0px;
			padding: 0;	
		}
		a {
			color: $white;
			font-style: 12pt;
		}
	}
}
.copyright {
	background-color: $dark-gray;
	padding: 20px 0px;
}
.footer-logo {
	img {
		max-width: 220px;
	}
}
.policy-links {
	a {
		margin-left: 20px;
		font-size: 11pt;
	}
}

@include breakpoint(mobile) {

}



