//
// Color Variables
//
$primary-color: rgb(5, 83, 153) !default;
$secondary-color: rgb(2, 166, 217) !default;



$white: #ffffff !default;
$black: #000000 !default;
$orange:#ff9300 !default;
$light-gray: #555555 !default;
$dark-gray: #262626 !default;


//
// Background Color Variables
//
