//
// Color Variables
//
$primary-color: rgb(5, 83, 153) !default;
$secondary-color: rgb(2, 166, 217) !default;



$white: #ffffff;
$black: #000000;
$orange:#ff9300;
$light-gray: #555555;
$dark-gray: #262626;


//
// Background Color Variables
//
